.category {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.05em !important;
  background-color: #2b2b2b;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.category.active {
  background-color: rgb(85, 76, 38);
}

.category.active.music {
  background-color: #d2691e;
}

.category.active.history {
  background-color: #5f9ea0;
}

.category.active.sports {
  background-color: #426482;
}

.category.active.games {
  background-color: #3e8444;
}

.category.active.technology {
  background-color: #525252;
}

.category.active.food {
  background-color: #7b1d1d;
}
