html,
body,
.container-fluid,
.row,
#root,
.App {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.btn-danger {
  background-color: #94000e;
  border-color: #94000e;
}

.btn-success {
  background-color: #459256;
  border-color: #459256;
}

.alert-danger {
  color: #ffffff;
  background-color: #c11d2c;
  border-color: #c11d2c;
}

.modal .modal-content {
  background-color: #313131;
  color: #fff;
}

.modal .close {
  color: #fff;
}
